html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
}


/** --- G L O B A L E S --- **/

.contenedor {
  max-width: 80%;
  margin: 0 auto;
}


/* Íconos de la REDES SOCIALES */

#redes {
  position: fixed;
  right: 0;
  top: 45rem;
  width: 3.6rem;
}


/* --- H E A D E R --- */

#cabecera {
  height: 40rem;
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-size: cover;
}

header #barra,
#texto {
  color: #fff;
}

#barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  align-items: center;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-weight: 900;
  align-items: center;
}

#menu {
  font-size: 1.3rem;
  font-weight: 700;
}

#menu a {
  margin-left: 1rem;
  padding: 0 1rem;
}

#menu a:hover,
#menu a#activo:hover {
  border-bottom: 0.2rem solid #fff;
}

#menu a:active {
  border-top: 0.1rem solid #fff;
}

#menu a#activo {
  border-bottom: 0.1rem solid #fff;
}

#menu a,
#texto a {
  color: #fff;
  text-decoration: none;
}

#texto {
  height: 30rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*    padding-top: 7.5rem; */
}

#texto h1 {
  text-transform: uppercase;
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#texto p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.35rem;
  /* margin-top: -2rem; */
  margin-bottom: 4.5rem;
}

#texto a {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
}

#texto a:hover {
  background-color: #ffffff34;
}


/* --- M A I N --- */

#principal {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}

.principal {
  flex-basis: calc(50% - 2rem);
}

#titulo-curso {
  display: flex;
  justify-content: left;
  align-items: center;
}

#titulo-curso img {
  margin-right: 1.5rem;
  margin-top: 0;
  padding-top: 0;
}

#titulo-curso h2 {
  color: #f60;
  font-size: 3.2rem;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
  margin-bottom: 1rem;
}

#parrafo-curso {
  color: #555;
}

hr {
  margin-top: 0;
  margin-bottom: 5rem;
  border: none;
  border-top: .1rem solid #aaaaaa;
}

#curso iframe {
  border: 0;
  width: 100%;
  height: 30rem;
  margin-bottom: 5rem;
}


/* --- F O O T E R --- */

footer {
  background-color: #aaa;
  font-size: 1.4rem;
  text-align: center;
  padding: 1.7rem;
  position: relative;
}

footer img {
  position: absolute;
  right: 1rem;
  top: 39%;
}